<div class="row" *ngIf="!movie">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <h4 *ngIf="movie">{{movie.title}} ({{movie.release_date | dateToYear}})</h4>
    </div>
</div>
<div class="row" *ngIf="movie">
    <div class="col-md-4 mt-2 mt-md-0">
        <img [src]="movie.poster_path | posterToUrl" alt="movie poster">
    </div>
    <div class="col-md-8">
        <h4>{{movie.title}} ({{movie.release_date | dateToYear}})</h4>
        <p>
            {{movie.overview}}
        </p>
        <p>
            <i class="fa fa-star-half" *ngIf="movie.vote_average<2" aria-hidden="true"></i>
            <i class="fa fa-star" *ngIf="movie.vote_average>=2" aria-hidden="true"></i>
            <i class="fa fa-star-half" *ngIf="movie.vote_average>=2 && movie.vote_average<4" aria-hidden="true"></i>
            <i class="fa fa-star" *ngIf="movie.vote_average>=4" aria-hidden="true"></i>
            <i class="fa fa-star-half" *ngIf="movie.vote_average>=4 && movie.vote_average<6" aria-hidden="true"></i>
            <i class="fa fa-star" *ngIf="movie.vote_average>=6" aria-hidden="true"></i>
            <i class="fa fa-star-half" *ngIf="movie.vote_average>=6 && movie.vote_average<8" aria-hidden="true"></i>
            <i class="fa fa-star" *ngIf="movie.vote_average>=8" aria-hidden="true"></i>
            <i class="fa fa-star-half" *ngIf="movie.vote_average>=8 && movie.vote_average<10" aria-hidden="true"></i>
            <i class="fa fa-star" *ngIf="movie.vote_average==10" aria-hidden="true"></i>
            {{movie.vote_average}}
        </p>
    </div>
</div>