<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Popular Movies</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input name="searchTerm" class="form-control mr-sm-2" type="text" [(ngModel)]="searchTerm" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
        </form>
    </div>
</nav>